    /* Global styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Mulish', sans-serif;
        font-family: 'Roboto', sans-serif;
      }
      
      html,
      body {
        height: 100%;
        background-image: url(static/im2.jpg);
        background-position: cover;

      }
      
      /* Header styles */
      
      header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to right, rgb(5, 12, 116), rgb(23, 32, 158), rgb(53, 61, 163), rgb(204, 104, 79));
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      header nav {
        display: flex;
        align-items: center;
      }
      
      header .logo img{
        width: 3.1vw;
        height: 25%;
        margin: 0 auto;
        margin-left: 4vw;
        margin-right: 4vw;
      }
      
      header .nav-right {
        display: flex;
        align-items: center;
        margin-left: 28px;
        margin-right: 201px;
      }
    
    
      
      header .nav-right ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
      }
      
      header .nav-right li {
        margin-right: 69px;
      }
      
      header .nav-right a {
        position: relative;
        color: #ffffff;
        text-decoration: none;
        transition: 0.2s;
        font-size: 150%;
      }
      
      header .nav-right a:after {
        position: absolute;
        content: "";
        top: 87%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ffffff;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.2s;
      }
      
      header .nav-right a:hover {
        color: #ffffff;
      }
      
      header .nav-right a:hover:after {
        transform: scaleX(1);
        transform-origin: left;
      }

      .group {
        margin: 10% 3% 10% 3%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        color: white;
      }
      
      .content {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      


      footer {
        background: linear-gradient(to right, rgb(5, 12, 116), rgb(23, 32, 158), rgb(53, 61, 163), rgb(204, 104, 79));
        color: #fff;
        padding: 1rem;
        text-align: center;
        width: 100%;
      }
      
      footer a {
        color: #fff;
        text-decoration: none;
        margin: 0 0.5rem;
      }


      @media (max-width: 768px) {


      header ul li{
        display: none;
    }
    
    header .logo img{
        width: 10vw;
        height: 25%;
        margin: 0 auto;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .group{
        margin-top: 30%;
        height: 160%;
        margin-left: 30px;
    }
  .hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 5%;
    padding: 1rem;
    z-index: 9999;
    color: #fff;
  }
  
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  
  /* Rotate the first and the third span */
  .hamburger span:first-child {
    transform-origin: top left;
  }
  
  .hamburger span:nth-child(2) {
    opacity: 1;
  }
  
  .hamburger span:last-child {
    transform-origin: bottom left;
  }
  
  /* Show the list when the hamburger menu is clicked */
  .hamburger.open span:first-child {
    transform: rotate(45deg) translate(7px, -7px);
  }
  
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:last-child {
    transform: rotate(-45deg) translate(7px, 7px);
    transform-origin: bottom left;
  }
  /*
  header .nav-right {
    display: none;
  }
  */
  header .nav-right.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-left: 0px;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    background: linear-gradient(to right, rgb(5, 12, 116), rgb(23, 32, 158), rgb(53, 61, 163), rgb(204, 104, 79));
    z-index: 10000;
  }
  
  header .nav-right.open ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
  }

  header .nav-right.open .titulos {
    padding-left: 15%;
  }
  
  header .nav-right.open li {
    display: block;
    margin-bottom: 2rem;
  }
  
  header .nav-right.open a {
    font-size: 2rem;
  }
  .group {
    flex-direction: column;
  }
  .content {
    margin-top: 10px;
  }
 } 